*/.terraform**
**/terraform.tfstate.backup
**/terraform.tfstate
**/cloud_config.yaml
tf_create_infrasturcture/backend.sh
tf_create_infrasturcture/secrets/*
**/backend.tf
**/99.tf_create_infrasturcture/secrets/*
.kuber/ca.pem
.kuber/test.kubeconfig
./02.yc_folders/*
02.yc_folders/stage
02.yc_folders/bucket
02.yc_folders/prod
.kuber/cluster_id
