*/.terraform**
**/terraform.tfstate.backup
**/terraform.tfstate
**/cloud_config.yaml
tf_create_infrasturcture/backend.sh
tf_create_infrasturcture/secrets/*
**/backend.tf
**/99.tf_create_infrasturcture/secrets/*
.kuber/ca.pem
.kuber/test.kubeconfig
04.tf_infrastructure_k8s_managed/*cloud_config*
