body {
    font-size: 30px;
    background: #F5F5F5;
    height: 100%;
    padding-bottom: 3%;
}

header {
    width: 100%;
    background-color: #343434;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 3px solid #5f5f5f;
}

header #everything-header {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title {
    color: white;
    font-weight: bold;
    padding-right: 5px;
}

.beta {
    /*padding-right: 550px;*/
    position: static;
    color: firebrick;
    font-weight: bold;
}


.menu li{
    display: inline;
}

.menu li #hello {
    font-size: 100px;
}

main .row{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row img{
    border-top: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
}

main h1{
    text-align: center;
    font-weight: bold;
}

main h4{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #5f5f5f;
}