{% extends "home.html" %}
{% load static %}

{% block title %}Профиль{% endblock %}

<div class="content">
{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %} <script>alert("{{ message }}")</script>{% endif %}
        {% endfor %}
    {% endif %}

    <script>
        function f(number) {
            var formatter = new Intl.NumberFormat('ru-RU', {
                style: 'currency',
                currency: 'RUB',
                minimumFractionDigits: 2,
            });
            return document.write(formatter.format(number));
        }
    </script>

    <div class="info-container">
        <h4>
            Заработано за год:
            <script>f({{ calc_year.total_sum|stringformat:".2f" }})</script>
        </h4>
        <h4>
            Заработано за все время:
            <script>f({{ calc_total.total_sum|stringformat:".2f" }})</script>
        </h4>
    </div>
    <div class="button-container">
        <div class="nav-button"><a href="{% url 'calculator' %}"><button type="button" class="btn btn-primary">Новая запись</button></a></div>
        <div class="nav-button"><a href="?sort=year"><button type="button" class="btn btn-primary">Сортировать</button></a></div>
    </div>
    <div class="previous-cards">ПОСЛЕДНЯЯ ЗАПИСЬ</div>
    <p class="text-center">{{ last_entry_null }}</p>

    <div class="card mb-3 text-center" id="last_entry">
        <div class="card-header py-1">
            {% for result in data|slice:":1"%}
                <h4 class="my-0" style="font-size: 23px">С {{ result.date_start }} по {{ result.date_end }}</h4>
            {% endfor %}
        </div>
        <div class="card-body">
            <table class="table text-center my-0">
                <tbody>
                    {% for date, sum in month_sum.items %}
                        <tr>
                            <th scope="row" style="font-size: 20px">За {{ date }}</th>
                            <td style="font-size: 20px">
                                <script>f({{ sum|stringformat:".2f" }})</script></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="previous-cards" style="border-top: 2px solid #DCDCDC">ЗАПИСИ</div>
    <p class="text-center">{{ data_null }}</p>
    <div class="row row-cols-1 row-cols-md-5 mb-3 text-center" id="card-info">
        {% for result in data %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal" id="date">{{ result.date_start|date:"d-m-Y" }} - {{ result.date_end|date:"d-m-Y" }}</h4>
              </div>
              <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Часовая ставка</th>
                            <td>
                                <script>f({{ result.wage|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">Дни в дороге</th>
                            <td>
                                <script>f({{ result.days_road|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">Премия</th>
                            <td>
                                <script>f({{ result.award|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">Районный коэфф.</th>
                            <td>
                                <script>f({{ result.district_coefficient|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">Северный коэфф. </th>
                            <td>
                                <script>f({{ result.northern_coefficient|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">Надбавка</th>
                            <td>
                                <script>f({{ result.extras|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">Праздники</th>
                            <td>
                                <script>f({{ result.holiday|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">Обсервация</th>
                            <td>
                                <script>f({{ result.observation|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">Начислено</th>
                            <td>
                                <script>f({{ result.all_result|stringformat:".2f" }})</script></td>
                        </tr>
                        <tr>
                            <th scope="row">На руки</th>
                            <td>
                                <script>f({{ result.result|stringformat:".2f" }})</script></td>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <div id="change-delete">
                        <a href="{% url 'delete' result.id %}"><button type="button" class="btn btn-secondary">Удалить</button></a>
                    </div>
{#                    <div id="change-delete">#}
{#                        <ul class="card-btn">#}
{#                            <li><a href="{% url 'delete' result.id %}"><button type="button" class="btn btn-secondary">Удалить</button></a></li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if page is None %}
    <div class="pgn" style="font-size: 20px; display: none;">
    {% else %}
        <div class="pgn" style="font-size: 20px;">
    {% endif %}
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
              {% if page.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page.previous_page_number }}" tabindex="-1">Предыдущая</a>
                </li>
                  {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="" tabindex="">Предыдущая</a>
                      </li>
              {% endif %}
                {% if page.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{{ page.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item active">
                  <span class="page-link">
                    {{ page.number }}
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                {% if page.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
                {% endif %}
              {% if page.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page.next_page_number }}">Следующая</a>
                </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="">Следующая</a>
                </li>
              {% endif %}
          </ul>
        </nav>
        </div>
    </div>
{% endblock %}
</div>